Instal BioPython. Use functions to read/transcrible and translate DNA and RNA sequences.
Analyse Sars-Cov2 virus genome
Obtain complete genome from NBI GenBank

In [ ]:
!pip install biopython

Collecting biopython
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 5.4 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython) (1.19.5)
Installing collected packages: biopython
Successfully installed biopython-1.79

In [ ]:
import Bio

In [ ]:
dir(Bio)

['BiopythonDeprecationWarning',
 'BiopythonExperimentalWarning',
 'BiopythonParserWarning',
 'BiopythonWarning',
 'MissingExternalDependencyError',
 'MissingPythonDependencyError',
 'StreamModeError',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_parent_dir',
 'os',
 'warnings']

In [ ]:
from Bio.Seq import Seq

In [ ]:
# create a sequence
my_dna = Seq("ACGTTT")

In [ ]:
my_dna

Seq('ACGTTT')

In [ ]:
type(my_dna)

Bio.Seq.Seq

In [ ]:
my_dna[0:3]

Seq('ACG')

In [ ]:
seq2=Seq("ATGCGTACCAGT")

In [ ]:
#join a portion of my_dna and the seq2
new=my_dna[0:3]+seq2

In [ ]:
#find length of the sequence
len(seq2)

12

In [ ]:
len(new)

15

In [ ]:
#find nucleotide count (adenine base)
print(my_dna.count('A'))
print(new.count("A"))
print(seq2.count("A"))

1
4
3

In [ ]:
# Find location of nucleotide
seq2.find("G")

2

In [ ]:
# Overlap count
new.count_overlap("CG")

2

Trascription
DNA -> mRNA

In [ ]:
# use new strand of DNA ('gene)
gene=Seq("CCAGATGCTGAACTACGTC")

In [ ]:
gene.transcribe()

Seq('CCAGAUGCUGAACUACGUC')

In [ ]:
mRNA=gene.transcribe()
#Translate the mRNA into protein
mRNA.translate()

/usr/local/lib/python3.7/dist-packages/Bio/Seq.py:2983: BiopythonWarning: Partial codon, len(sequence) not a multiple of three. Explicitly trim the sequence or add trailing N before translation. This may become an error in future.
  BiopythonWarning,

Seq('PDAELR')

In [ ]:
# gene 2 (start with 'start codon, ATG' and stop codon (ATG=start, TAA=stop)
gene2=Seq("ATGTAA")
mRNA2=gene2.transcribe()
protein=mRNA2.translate()

In [ ]:
print(mRNA2)
print(protein)

AUGUAA
M*

In [ ]:
#View codon table
from Bio.Data import CodonTable

In [ ]:
dir(CodonTable)

['AmbiguousCodonTable',
 'AmbiguousForwardTable',
 'CodonTable',
 'IUPACData',
 'NCBICodonTable',
 'NCBICodonTableDNA',
 'NCBICodonTableRNA',
 'TranslationError',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'ambiguous_dna_by_id',
 'ambiguous_dna_by_name',
 'ambiguous_generic_by_id',
 'ambiguous_generic_by_name',
 'ambiguous_rna_by_id',
 'ambiguous_rna_by_name',
 'generic_by_id',
 'generic_by_name',
 'list_ambiguous_codons',
 'list_possible_proteins',
 'make_back_table',
 'register_ncbi_table',
 'standard_dna_table',
 'standard_rna_table',
 'unambiguous_dna_by_id',
 'unambiguous_dna_by_name',
 'unambiguous_rna_by_id',
 'unambiguous_rna_by_name']

In [ ]:
# for DNA
print(CodonTable.unambiguous_dna_by_name['Standard'])

Table 1 Standard, SGC0

  |  T      |  C      |  A      |  G      |
--+---------+---------+---------+---------+--
T | TTT F   | TCT S   | TAT Y   | TGT C   | T
T | TTC F   | TCC S   | TAC Y   | TGC C   | C
T | TTA L   | TCA S   | TAA Stop| TGA Stop| A
T | TTG L(s)| TCG S   | TAG Stop| TGG W   | G
--+---------+---------+---------+---------+--
C | CTT L   | CCT P   | CAT H   | CGT R   | T
C | CTC L   | CCC P   | CAC H   | CGC R   | C
C | CTA L   | CCA P   | CAA Q   | CGA R   | A
C | CTG L(s)| CCG P   | CAG Q   | CGG R   | G
--+---------+---------+---------+---------+--
A | ATT I   | ACT T   | AAT N   | AGT S   | T
A | ATC I   | ACC T   | AAC N   | AGC S   | C
A | ATA I   | ACA T   | AAA K   | AGA R   | A
A | ATG M(s)| ACG T   | AAG K   | AGG R   | G
--+---------+---------+---------+---------+--
G | GTT V   | GCT A   | GAT D   | GGT G   | T
G | GTC V   | GCC A   | GAC D   | GGC G   | C
G | GTA V   | GCA A   | GAA E   | GGA G   | A
G | GTG V   | GCG A   | GAG E   | GGG G   | G
--+---------+---------+---------+---------+--

In [ ]:
# for RNA
print(CodonTable.unambiguous_rna_by_name['Standard'])

Table 1 Standard, SGC0

  |  U      |  C      |  A      |  G      |
--+---------+---------+---------+---------+--
U | UUU F   | UCU S   | UAU Y   | UGU C   | U
U | UUC F   | UCC S   | UAC Y   | UGC C   | C
U | UUA L   | UCA S   | UAA Stop| UGA Stop| A
U | UUG L(s)| UCG S   | UAG Stop| UGG W   | G
--+---------+---------+---------+---------+--
C | CUU L   | CCU P   | CAU H   | CGU R   | U
C | CUC L   | CCC P   | CAC H   | CGC R   | C
C | CUA L   | CCA P   | CAA Q   | CGA R   | A
C | CUG L(s)| CCG P   | CAG Q   | CGG R   | G
--+---------+---------+---------+---------+--
A | AUU I   | ACU T   | AAU N   | AGU S   | U
A | AUC I   | ACC T   | AAC N   | AGC S   | C
A | AUA I   | ACA T   | AAA K   | AGA R   | A
A | AUG M(s)| ACG T   | AAG K   | AGG R   | G
--+---------+---------+---------+---------+--
G | GUU V   | GCU A   | GAU D   | GGU G   | U
G | GUC V   | GCC A   | GAC D   | GGC G   | C
G | GUA V   | GCA A   | GAA E   | GGA G   | A
G | GUG V   | GCG A   | GAG E   | GGG G   | G
--+---------+---------+---------+---------+--

Complementary sequences

In [ ]:
print(gene)
print(gene.complement())

CCAGATGCTGAACTACGTC
GGTCTACGACTTGATGCAG

In [ ]:
#reverse complement
gene.reverse_complement()

Seq('GACGTAGTTCAGCATCTGG')

In [ ]:
# back transcribe (mRNA to DNA)
mRNA2.back_transcribe()

Seq('ATGTAA')

COVID-19 protein Sequence

Sars-CoV-2: Severe acute respiratory syndrome coronavirus 2 (Sequence taken from GenBank)

In [ ]:
# COVID19 genome, downloaded from Genbank, FASTA format
# download in txt file
#load file
from Bio import SeqIO

In [ ]:
for record in SeqIO.parse("sequence.fasta",'fasta'):
  print(record)

ID: NC_045512.2
Name: NC_045512.2
Description: NC_045512.2 Severe acute respiratory syndrome coronavirus 2 isolate Wuhan-Hu-1, complete genome
Number of features: 0
Seq('ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGT...AAA')

In [ ]:
cov=SeqIO.read("sequence.fasta",'fasta')

In [ ]:
cov

SeqRecord(seq=Seq('ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGT...AAA'), id='NC_045512.2', name='NC_045512.2', description='NC_045512.2 Severe acute respiratory syndrome coronavirus 2 isolate Wuhan-Hu-1, complete genome', dbxrefs=[])

In [ ]:
cov_dna=cov.seq

In [ ]:
#lenght of DNA (of virus)
len(cov_dna)

29903

In [ ]:
#Synthesize the protein code of the virus
#Sars-Cov2 genome is a linear positive strand RNA 
#Genbank genome displays it as DNA ... it has to be transcribed
# DNA -> RNA -> Protein

In [ ]:
# Transcription (DNA to RNA)
covRNA=cov_dna.transcribe()
covRNA

Seq('AUUAAAGGUUUAUACCUUCCCAGGUAACAAACCAACCAACUUUCGAUCUCUUGU...AAA')

In [ ]:
# Translate (RNA to protein/Amino Acid)
cov_protein=covRNA.translate()
cov_protein

/usr/local/lib/python3.7/dist-packages/Bio/Seq.py:2983: BiopythonWarning: Partial codon, len(sequence) not a multiple of three. Explicitly trim the sequence or add trailing N before translation. This may become an error in future.
  BiopythonWarning,

Seq('IKGLYLPR*QTNQLSISCRSVL*TNFKICVAVTRLHA*CTHAV*LITNYCR*QD...KKK')

In [ ]:
#Lenght of covid proteins(in AA)
len(cov_protein)

9967

In [ ]:
# Find protein seq before stop codon
cov_protein_nostop=cov_protein.split("*")

In [ ]:
#show all protein sequences
cov_protein_nostop

[Seq('IKGLYLPR'),
 Seq('QTNQLSISCRSVL'),
 Seq('TNFKICVAVTRLHA'),
 Seq('CTHAV'),
 Seq('LITNYCR'),
 Seq('QDTSNSSIFCRLLTVSSVLQPIISTSRFRPGVTER'),
 Seq('DGEPCPWFQRENTRPTQFACFTGSRRARTWLWRLRGGGLIRGTSTS'),
 Seq('RWHLWLSRS'),
 Seq('KRRFAST'),
 Seq('TALCVHQTFGCSNCTSWSCYG'),
 Seq('AGSRTRRHSVRS'),
 Seq('W'),
 Seq('DTWCPCPSCGRNTSGLPQGSSS'),
 Seq('ER'),
 Seq(''),
 Seq('RSWWP'),
 Seq('LRRRSKVI'),
 Seq('LRRRAWH'),
 Seq('SL'),
 Seq('RFSRKLEH'),
 Seq('T'),
 Seq('QWCYP'),
 Seq('THA'),
 Seq('A'),
 Seq('RRGIHSLCR'),
 Seq('QLLWP'),
 Seq('WLPS'),
 Seq('VH'),
 Seq('RPSSTCW'),
 Seq('SFMHFVRTTGLY'),
 Seq('H'),
 Seq('EGCILLP'),
 Seq('T'),
 Seq('A'),
 Seq('NCLVHGTF'),
 Seq('KEL'),
 Seq('IADTF'),
 Seq('N'),
 Seq('IGKEI'),
 Seq('HLQWGMSKFCISLKFHNQDYSTKG'),
 Seq('KEKA'),
 Seq('WLYG'),
 Seq('NSICLSSCVTK'),
 Seq('MQPNVPFNSHEV'),
 Seq('SLW'),
 Seq('NFMADGRFC'),
 Seq('SHLRILWH'),
 Seq('EFD'),
 Seq('RRCHYLWLLTPKCCC'),
 Seq('NLLSSMSQFRSRT'),
 Seq('A'),
 Seq('SCRIP'),
 Seq(''),
 Seq('IWLENHSS'),
 Seq('GWSHYCLWRLCVLLCWLP'),
 Seq('QVCLLGSTC'),
 Seq('R'),
 Seq('HRL'),
 Seq('PYRCCWRRFRRS'),
 Seq(''),
 Seq('QPS'),
 Seq('NTPKRESQHQYCW'),
 Seq('L'),
 Seq('T'),
 Seq(''),
 Seq('RDRHYFGIFFCFHKCFCGNCERFGL'),
 Seq('SIQTNC'),
 Seq('ILW'),
 Seq('F'),
 Seq('SYKRKS'),
 Seq('KRCLEYW'),
 Seq('TEINTESSLCICIRGCSCCTINFLPHS'),
 Seq('NCSKFCACFTEGRYNNTRWNFTVFTETH'),
 Seq('CYDVHI'),
 Seq('FGY'),
 Seq('QSSCNGLHYRWCCSVDFAVAN'),
 Seq('HLWHCL'),
 Seq('KTQTRP'),
 Seq('LA'),
 Seq('REV'),
 Seq('GRCRVS'),
 Seq('RRLGNC'),
 Seq('IYLNLCL'),
 Seq('NCRWTNCHLCKGN'),
 Seq('GECSDIL'),
 Seq('ACK'),
 Seq('IFGFVC'),
 Seq('LYHYWWS'),
 Seq('T'),
 Seq('SLEFR'),
 Seq('NICHALKGIVQKVC'),
 Seq('IQRRNWPTHASKSPKRNYLLRGRNTSHRSVNRGSCLENW'),
 Seq('FTTIRTTY'),
 Seq(''),
 Seq('SC'),
 Seq('SSIGWYTSLY'),
 Seq('RAYVARNQRHRKVLCPCT'),
 Seq('YDGNKQYLHTQRRCTNKGYFW'),
 Seq(''),
 Seq('HCDRSARLQECEYHF'),
 Seq('T'),
 Seq(''),
 Seq('KD'),
 Seq(''),
 Seq('ST'),
 Seq(''),
 Seq('EVLCLYS'),
 Seq('TRYRSK'),
 Seq('VRLCCGRCCHKNFATSI'),
 Seq('ITYTTGH'),
 Seq('FR'),
 Seq('VEYGYILLI'),
 Seq(''),
 Seq('VW'),
 Seq('V'),
 Seq('IGFTYVLFFLPSR'),
 Seq('G'),
 Seq('RRR'),
 Seq('L'),
 Seq('RRRV'),
 Seq('AINSI'),
 Seq('VWY'),
 Seq('R'),
 Seq('LPR'),
 Seq('TFGIWCHFCCSST'),
 Seq('RRARRRLVR'),
 Seq(''),
 Seq(''),
 Seq('STNCWSTRRQ'),
 Seq('GQSDNYYSNNC'),
 Seq('GSTSIRDGTYTSCSDY'),
 Seq('SE'),
 Seq('F'),
 Seq('WLFKTY'),
 Seq('QCIH'),
 Seq('KCRHCGRS'),
 Seq('KGKTNSGC'),
 Seq('CSQCLP'),
 Seq('TWRRCCRSLK'),
 Seq('GY'),
 Seq('QCHAS'),
 Seq('I'),
 Seq(''),
 Seq('LHSY'),
 Seq('WTT'),
 Seq('SGW'),
 Seq('LCFKRTQSC'),
 Seq('TLSSCCRPKC'),
 Seq('QR'),
 Seq('RHSTS'),
 Seq('ECL'),
 Seq('KF'),
 Seq('SARSSTCTIIISWYFWC'),
 Seq('PYTFFKSLCRYCSHKCLLSCL'),
 Seq(''),
 Seq('KSL'),
 Seq('QTCFKLFGNEE'),
 Seq('KAS'),
 Seq('TKDR'),
 Seq('DS'),
 Seq('RGS'),
 Seq('AIYN'),
 Seq('K'),
 Seq('TFS'),
 Seq('TEKTR'),
 Seq(''),
 Seq('ENQSLC'),
 Seq('RSYNNSGRN'),
 Seq('VPHRKLVTLY'),
 Seq('H'),
 Seq('WQSSSRFCHSC'),
 Seq(''),
 Seq('H'),
 Seq('HHFLKERCSIYSG'),
 Seq('CCSRGCFNCCGYTY'),
 Seq('KGWWHY'),
 Seq('NASESFEKSANRQLYNHLPGSGFKWLHCRGGKDSA'),
 Seq('KV'),
 Seq('KCLLHSTIYYL'),
 Seq(''),
 Seq('EARNSWNCFLEFARNACTCRRNTQINACLCGN'),
 Seq('SHSFNYTA'),
 Seq('I'),
 Seq('GY'),
 Seq('NTRGCG'),
 Seq('LWC'),
 Seq('ILLLHQ'),
 Seq('NNCSVTYQHT'),
 Seq('RSK'),
 Seq('NSCYNATWLCNTWLKFGRSCSVYEISQSASYSFCFFT'),
 Seq('CCYSV'),
 Seq('WLSYFFF'),
 Seq('NT'),
 Seq('RTFY'),
 Seq('NHLTCWFL'),
 Seq('RLVLFWTIYTTRYRIS'),
 Seq('ER'),
 Seq(''),
 Seq('KCILH'),
 Seq(''),
 Seq('SYHIPPRW'),
 Seq('SYHL'),
 Seq('QS'),
 Seq('DTSFFERSEDY'),
 Seq('GVYNSRQH'),
 Seq('PPHASCGHVNDIWTTVWSNLFGWS'),
 Seq('CY'),
 Seq('NKTS'),
 Seq('FT'),
 Seq('R'),
 Seq('NILCFT'),
 Seq(''),
 Seq(''),
 Seq('HSTC'),
 Seq('GF'),
 Seq('VLPHN'),
 Seq('S'),
 Seq('FSG'),
 Seq('VHVSIKSH'),
 Seq('KVEIPTS'),
 Seq('WFNFY'),
 Seq('MGR'),
 Seq('QLLSCHCIVNTPTNRVEV'),
 Seq('STCSTRCLLQSKGW'),
 Seq('SC'),
 Seq('LLCTYLSLL'),
 Seq(''),
 Seq('DSR'),
 Seq('VR'),
 Seq('C'),
 Seq('RNNELLVSTCQFRFLQKSLERGV'),
 Seq('NLWTTADNP'),
 Seq('GCRSCYVHGHTFL'),
 Seq('TI'),
 Seq('ERCSDTLYVW'),
 Seq('TSYKISSTTGVTFCYDVSTTCSV'),
 Seq('T'),
 Seq('AWYIYLC'),
 Seq(''),
 Seq('VHW'),
 Seq('LPVWSL'),
 Seq('TYNF'),
 Seq('RNFVLHRRCFTYKVLRIQRSYYGCFLQRKQLHNNHKTSYL'),
 Seq('IGWCCLYRN'),
 Seq('P'),
 Seq('VGQLL'),
 Seq('ERQFLFHRATN'),
 Seq('SCTKPTISKRKLR'),
 Seq('F'),
 Seq('VCM'),
 Seq(''),
 Seq('YQIC'),
 Seq(''),
 Seq('FKPVNWL'),
 Seq('ETCFKRA'),
 Seq('SYIFP'),
 Seq('LKW'),
 Seq('CGGY'),
 Seq('L'),
 Seq('TLHTLF'),
 Seq('ERS'),
 Seq('IVT'),
 Seq('TYCLAC'),
 Seq('QCN'),
 Seq(''),
 Seq('SHV'),
 Seq('TKYLVYTLSLEHKTS'),
 Seq('NIKFV'),
 Seq('CTEVRGRAGNG'),
 Seq('SCLRRSKTSL'),
 Seq('RSSGKSYHTERRS'),
 Seq('V'),
 Seq('CENYRSCRRHYT'),
 Seq('TSK'),
 Seq(''),
 Seq('FKNYRRGWPHRSNGCLCRQF'),
 Seq('SYY'),
 Seq('ET'),
 Seq(''),
 Seq('II'),
 Seq('SIRFENPCYSWFSCC'),
 Seq(''),
 Seq('CPLGYYS'),
 Seq('LC'),
 Seq('AFS'),
 Seq('QSC'),
 Seq('YNY'),
 Seq('HSYTVFKPCLY'),
 Seq('LYALFLYFIATIVYFY'),
 Seq('KYKF'),
 Seq('N'),
 Seq('SIYADYYSKEYC'),
 Seq('ECR'),
 Seq('ILSRGFI'),
 Seq('LFEVT'),
 Seq('FF'),
 Seq('TDKYYNLVFTIKCLPRFFNLLNRCFRCFNV'),
 Seq('FRHAFLLYWLQRRLFELY'),
 Seq('CHYCNLLYWFYTL'),
 Seq('CLS'),
 Seq('WFRFFRHLSFFRNYTNYHFIF'),
 Seq('MGFNCFWLSCRVVFGIYSFH'),
 Seq('VFLCTWIGCNHAIVFQLFCSTFY'),
 Seq(''),
 Seq('FLAYVVNN'),
 Seq('SCTNGPDFSYG'),
 Seq('NVHLLCIILLCMEKLCACCRRL'),
 Seq('FINLYDVLQT'),
 Seq(''),
 Seq('SNKSRMYNYC'),
 Seq('WC'),
 Seq('KVLLCLC'),
 Seq('WR'),
 Seq('RLLQTTQLELC'),
 Seq('L'),
 Seq('YILCW'),
 Seq('YIY'),
 Seq(''),
 Seq(''),
 Seq('SCERLVTTV'),
 Seq('KTNKSY'),
 Seq('PVFLHR'),
 Seq(''),
 Seq('CYSEEWFHPSLL'),
 Seq(''),
 Seq('SWSKDL'),
 Seq('KTFSLSFC'),
 Seq('LRQPES'),
 Seq(''),
 Seq('H'),
 Seq('RFIAY'),
 Seq('CYSF'),
 Seq('W'),
 Seq('IKM'),
 Seq('RIICKISVCLLQSAYVSTYTVTRSGISV'),
 Seq('CW'),
 Seq(''),
 Seq('CGSCS'),
 Seq('NV'),
 Seq('CLR'),
 Seq('YVFINF'),
 Seq('RTNGKTQNTSCNCRS'),
 Seq('TCKECVLRQCLIYFYFSSSARVC'),
 Seq('FRCRN'),
 Seq('RCC'),
 Seq('MS'),
 Seq('IVTSI'),
 Seq('HRSYWR'),
 Seq('L'),
 Seq(''),
 Seq('LYAHL'),
 Seq('QS'),
 Seq('KHDTP'),
 Seq('PWCLY'),
 Seq('L'),
 Seq('CASY'),
 Seq('CAGSKKSQHCFDMER'),
 Seq('RFHVIV'),
 Seq('TTTKTNT'),
 Seq('CC'),
 Seq('KE'),
 Seq('LTF'),
 Seq('VDMCNY'),
 Seq('TSC'),
 Seq('CCNNKDST'),
 Seq('GW'),
 Seq('NC'),
 Seq(''),
 Seq('LVEAVN'),
 Seq('SYTCVPFCCCYFLFNNTCSCHV'),
 Seq('TY'),
 Seq('LFK'),
 Seq('NHRIQGY'),
 Seq('WWCHS'),
 Seq('HSIYRYLFC'),
 Seq('QTC'),
 Seq('F'),
 Seq('HMV'),
 Seq('PAWW'),
 Seq('LY'),
 Seq(''),
 Seq('QSLPIDCCSHNKRSGFCRAWFAWHDITHN'),
 Seq('W'),
 Seq('LFAFLT'),
 Seq('SF'),
 Seq('CSW'),
 Seq('HLLHTIKTYRVH'),
 Seq('LCNISLCFGC'),
 Seq('MYNF'),
 Seq('RCFW'),
 Seq('ASTILL'),
 Seq('YQCTRRFCCL'),
 Seq('KFTP'),
 Seq('HTLCAHGWLYYSIS'),
 Seq('HLP'),
 Seq('RFC'),
 Seq('SGNNF'),
 Seq('F'),
 Seq('VL'),
 Seq('ARHL'),
 Seq('KIRSWCLCIY'),
 Seq('W'),
 Seq('MGT'),
 Seq('Q'),
 Seq('LLQIFTRSFLWCRCCKFTY'),
 Seq('YVYTTNSTYWCFGHISIYSSWWYCSYRSNMPCLLFYEV'),
 Seq('KSFW'),
 Seq('IQSCSCL'),
 Seq('YFTIPYVIHCTLFNTSLLILTWCLFCYLLVLDILSY'),
 Seq(''),
 Seq('CFFFSTYSVDGYVHTFSTFLDNNCLYHLYFHKAFLLVL'),
 Seq(''),
 Seq('LPKETCSL'),
 Seq('WCFL'),
 Seq('YF'),
 Seq('RSCAVHLFVK'),
 Seq('RNVSKVA'),
 Seq(''),
 Seq('CAITSYAI'),
 Seq(''),
 Seq('ILSSL'),
 Seq(''),
 Seq('VQVF'),
 Seq('WSNGYN'),
 Seq('LQRSCLLSSRKGSQ'),
 Seq('LQ'),
 Seq('LRF'),
 Seq('CSLPTTTNLYHLSCFAEWF'),
 Seq('KNGIPIW'),
 Seq('S'),
 Seq('GLYGTSNLWYNYT'),
 Seq('RSLA'),
 Seq(''),
 Seq('RSLLSKTCDLHL'),
 Seq('RHA'),
 Seq('P'),
 Seq('L'),
 Seq('RFTHS'),
 Seq('V'),
 Seq('S'),
 Seq('FLGTGW'),
 Seq('CSTQGYWTFYAKLCT'),
 Seq('A'),
 Seq('G'),
 Seq('YSQS'),
 Seq('DT'),
 Seq('V'),
 Seq('VCSHSTRTDFFSVSLLQWFTIWCLPMCYEAQFHY'),
 Seq('GFIP'),
 Seq('WFMW'),
 Seq('CWF'),
 Seq('HRL'),
 Seq('LCLFLLHAPYGITNWSSCWHRLRR'),
 Seq('LLWTFC'),
 Seq('QANSTSSWYGHNYYS'),
 Seq('CFSLVVRCCYKWRQVVSQSIYHNS'),
 Seq(''),
 Seq('L'),
 Seq('PCGYEVQL'),
 Seq('TSNTRPC'),
 Seq('HTRTSFCSNWNCRFRYVCFIKRITAKWYEWTYHIG'),
 Seq('CFIRR'),
 Seq('IYTF'),
 Seq('CC'),
 Seq('TMLRCYFPKCSEKNNQGYTPLVVTHNFDFTFSFSPEYSMVFVLFFV'),
 Seq('KCLFTFCYGYYCYVCFCNDVCQT'),
 Seq('ACISLFVFVTFSCHCSLF'),
 Seq('YGLYAC'),
 Seq('LGDAYYDMVGYG'),
 Seq('Y'),
 Seq('FVWF'),
 Seq('AKRLCYVCISCSVTNPYDSKNCV'),
 Seq(''),
 Seq('WC'),
 Seq('ESVDTYECLDTRL'),
 Seq('SLLW'),
 Seq('CFRSSHFHVGSYNLCYF'),
 Seq('LLRCSYNCHVFGQRYCFYVC'),
 Seq('VLPYFLHNW'),
 Seq('YTSVYNASLLFLRLFLYLLLWPLLFTQPLL'),
 Seq('TDSWCL'),
 Seq('LLSFYTGV'),
 Seq('IYEFTGTTPTQE'),
 Seq('HRCLQTQH'),
 Seq('IVGCWWQTLYQSSHCTV'),
 Seq('NVRCKVHISSLTLSFATTQSRIII'),
 Seq('IVGSMCPVTQ'),
 Seq('HSLS'),
 Seq('RYY'),
 Seq('SL'),
 Seq('KNGFTTFCFAFHAGCCRHKQAL'),
 Seq('RNAGQQGNLTSYSLRV'),
 Seq('FPSIICSFCYCSRSL'),
 Seq('AGCC'),
 Seq('W'),
 Seq('F'),
 Seq('SCS'),
 Seq('KVEEVFECG'),
 Seq('I'),
 Seq('I'),
 Seq('P'),
 Seq('CSHAT'),
 Seq('VGKDG'),
 Seq('SSYDPNV'),
 Seq('TG'),
 Seq('I'),
 Seq('GQEGKSY'),
 Seq('CYADNAFHYA'),
 Seq('KVG'),
 Seq(''),
 Seq('CTQQHYQQCKRWLCSLEHNTSYNSSQTNGCHTRL'),
 Seq('HI'),
 Seq('KYV'),
 Seq('WYNIYLCISIVGNPTGCRCR'),
 Seq(''),
 Seq('NCST'),
 Seq(''),
 Seq('N'),
 Seq('YGQFT'),
 Seq('FSMASYCNSFKGQFCCQITE'),
 Seq(''),
 Seq('A'),
 Seq('SCCTTTDVLCCRYYTNCLH'),
 Seq(''),
 Seq('QCVSLLQHNKGR'),
 Seq('VCTCTVIRFTGFEMG'),
 Seq('IP'),
 Seq('E'),
 Seq('WNWYYLYRTGTTL'),
 Seq('VCYRHT'),
 Seq('RS'),
 Seq('SEVFILY'),
 Seq('RIKQPK'),
 Seq('RYGTW'),
 Seq('FSCHSTSTSW'),
 Seq('CNRSACQFNCIIFLCFCCRCC'),
 Seq('SLQRLSS'),
 Seq('WGTTNH'),
 Seq('LC'),
 Seq('DVVYTHWYWSGNNSYTGSQYGSRILWWCIVLSVLPLPHRSSKS'),
 Seq('RIL'),
 Seq('LKR'),
 Seq('VCTNTYNLC'),
 Seq(''),
 Seq('PCGFYT'),
 Seq('KHSLYRLRYVERLWL'),
 Seq('L'),
 Seq('STPRTHASVS'),
 Seq('CTIVFKRVCGVSAARLTPCGTGTSTDVVYRAFDIYNDKVAGFAKFLKTNCCRFQ...VNN'),
 Seq('TNNVCFSCFIATSL'),
 Seq('SVC'),
 Seq('SYNQNSITPCIH'),
 Seq('FFHTWCLLP'),
 Seq('QSFQILSFTFNSGLVLTFLFQCYLVPCYTCLWDQWY'),
 Seq('EV'),
 Seq(''),
 Seq('PCPTI'),
 Seq(''),
 Seq('WCLFCFH'),
 Seq('EV'),
 Seq('HNKRLDFWYYFRFEDPVPTYC'),
 Seq(''),
 Seq('RY'),
 Seq('CCY'),
 Seq('SL'),
 Seq('ISIL'),
 Seq(''),
 Seq('SIFGCLLPQKQQKLDGK'),
 Seq('VQSLF'),
 Seq('CE'),
 Seq('LHF'),
 Seq('ICLSAFSYGP'),
 Seq('RKTG'),
 Seq('FQKS'),
 Seq('GICV'),
 Seq('EY'),
 Seq('WLF'),
 Seq('NIF'),
 Seq('AHAY'),
 Seq('FSA'),
 Seq('SPSGFFGFRTIGRFANRY'),
 Seq('HH'),
 Seq('VSNFTCFT'),
 Seq('KLFDSW'),
 Seq('FFFRLDSWCCSLLCGLSST'),
 Seq('DFSIKI'),
 Seq(''),
 Seq('KWNHYRCCRLCT'),
 Seq('PSLRNKVYVEILHCRKRNLSNF'),
 Seq('L'),
 Seq('SPTNRIYC'),
 Seq('IS'),
 Seq('YYKLVPFW'),
 Seq('SF'),
 Seq('RHQICICLCLEQEENQQLCC'),
 Seq('LFCPI'),
 Seq('FRIIFHF'),
 Seq('VLWSVSY'),
 Seq('IK'),
 Seq('SLLY'),
 Seq('CLCRFICN'),
 Seq('R'),
 Seq(''),
 Seq('SQTNRSRANWKDC'),
 Seq('L'),
 Seq('L'),
 Seq('ITR'),
 Seq('FYRLRYSLEF'),
 Seq('QS'),
 Seq('F'),
 Seq('GWW'),
 Seq('L'),
 Seq('LPV'),
 Seq('IV'),
 Seq('EV'),
 Seq('SQTF'),
 Seq('ERYFN'),
 Seq('NLSGR'),
 Seq('HTL'),
 Seq('WC'),
 Seq('RF'),
 Seq('LLLSFTIIWFPTH'),
 Seq('WCWLPTIQSSSTFF'),
 Seq('TSTCTSNCLWT'),
 Seq('KVY'),
 Seq('FG'),
 Seq('KQMCQFQLQWFNRHRCSY'),
 Seq('V'),
 Seq('QKVSAFPTIWQRHC'),
 Seq('HY'),
 Seq('CCP'),
 Seq('STDT'),
 Seq('DS'),
 Seq('HYTMFFWWCQCYNTRNKYF'),
 Seq('PGCCSLSGC'),
 Seq('LHRSPCCYSCRSTYSYLACLFYRF'),
 Seq('CFSNTCRLFNRG'),
 Seq('TCQQLI'),
 Seq('V'),
 Seq('HTHWCRYMR'),
 Seq('LSDSD'),
 Seq('FSSAGT'),
 Seq('CS'),
 Seq('SIHHCLHYVTWCRKFSCLL'),
 Seq(''),
 Seq('LYCHTHKFYY'),
 Seq('CYHRNSTSVYDQDISRLYNVHLW'),
 Seq('FN'),
 Seq('MQQSFVAIWQFLYTIKPCFNWNSC'),
 Seq('TRQKHPRSFCTSQTNLQNTTN'),
 Seq('RFWWF'),
 Seq('FFTNITRSIKTKQEVIY'),
 Seq('RSTFQQSDTCRCWLHQTIW'),
 Seq('LPW'),
 Seq('YCC'),
 Seq('RPHLCTKV'),
 Seq('RPYCFATFAHR'),
 Seq('NDCSIHFCTVSGYNHFWLDLWCRCCITNTICYANGL'),
 Seq('V'),
 Seq('WYWSYTECSL'),
 Seq('EPKIDCQPI'),
 Seq(''),
 Seq('CYWQNSRLTFFHSKCTWKTSRCGQPKCTSFKHAC'),
 Seq('TT'),
 Seq('LQFWCNFKCFK'),
 Seq('YPFTS'),
 Seq('QS'),
 Seq('G'),
 Seq('SAN'),
 Seq(''),
 Seq('VDHRQTSKFADICDSTIN'),
 Seq('SCRNQSFC'),
 Seq('SCCY'),
 Seq('NVRVCTWTIKKS'),
 Seq('FLWKGLSSYVLPSVSTSWCSLLACDLCPCTRKELHNCSCHLS'),
 Seq('WKSTLSS'),
 Seq('RCLCFKWHTLVCNTKEFL'),
 Seq('TTNHYYRQHICVW'),
 Seq('L'),
 Seq('CCNRNCQQHSL'),
 Seq('SFAT'),
 Seq('IRLIQGGVR'),
 Seq('IF'),
 Seq('ESYITRC'),
 Seq('FR'),
 Seq('HLWH'),
 Seq('CFSCKHSKRN'),
 Seq('PPQ'),
 Seq('GCQEFK'),
 Seq('ISHRSPRTWKV'),
 Seq('AVYKMAMVHLARFYSWLDCHSNGDNYALLYDQLL'),
 Seq('LSQGLLFLWILLQI'),
 Seq(''),
 Seq('RRL'),
 Seq('ASAQRSQITLHINELMDLFMRIFTIGTVTLKQGEIKDATPSDFVRATATIPIQA...VPL'),
 Seq('AQADEYELMYSFVSEETGTLIVNSVLLFLAFVVFLLVTLAILTALRLCAYCCNI...LLV'),
 Seq('TN'),
 Seq('ILY'),
 Seq('FFCLEL'),
 Seq('F'),
 Seq('PWQIPTVLLPLKSLKSSLNNGT'),
 Seq(''),
 Seq(''),
 Seq('VSYSLHGFVFYNLPMPTGIGFCI'),
 Seq('LS'),
 Seq('FSSGCYGQ'),
 Seq('L'),
 Seq('LVLCLLLFTE'),
 Seq('IGSPVELLSQWLVL'),
 Seq('A'),
 Seq('CGSATSLLLSDCLRVRVPCGHSIQKLTFFSTCHSMALF'),
 Seq('PDRF'),
 Seq('KVNS'),
 Seq('SEL'),
 Seq('SFVDIFVLLDTI'),
 Seq('DAVTSRTCLKKSLLLHHERFLITNWELRSV'),
 Seq('QVTQVLLHTVATGLATIN'),
 Seq('TQTIPVAVTILLCLYSK'),
 Seq('QQMFHLVDFQVTIAEILLIIMRTFKVSIWNLDYIINLIIKNLSKSLTENKYSQL...EID'),
 Seq('TNMKIILFLALITLATCELYHYQECVRGTTVLLKEPCSSGTYEGNSPFHPLADN...KTE'),
 Seq('LNFH'),
 Seq('LTSICAF'),
 Seq('PFCYSLF'),
 Seq('LCLLSFGSHLNCKIIMKLVTPKRT'),
 Seq('NFLFS'),
 Seq('ESSQL'),
 Seq('LHFTKNVVYSHVLNINHM'),
 Seq('LMTRVLFTSILNGILE'),
 Seq('ELENQHL'),
 Seq('LNCAWMRLVLNHPFSTSISVIIQFPVYLLQLIARNLNWVVL'),
 Seq('CVVRSMKTF'),
 Seq('SIMTFVLF'),
 Seq('ISSKRTN'),
 Seq('NV'),
 Seq(''),
 Seq('WTPKSAKCTPHYVWWTLRFNWQ'),
 Seq('PEWRTQWGAIKTTSAPRFTQ'),
 Seq('YCVLVHRSHSTWQGRP'),
 Seq('IPSRTRRSN'),
 Seq('HQ'),
 Seq('QSR'),
 Seq('PNWLLPKSYQTNSWW'),
 Seq('R'),
 Seq('NERSQSKMVFLLPRNWARSWTSLWC'),
 Seq('QRRHHMGCN'),
 Seq('GSLEYTKRSHWHPQSC'),
 Seq('QCCNRATTSSRNNIAKRLLRRREQRRQSSLFSFLIT'),
 Seq('SQQFKKFNSRQQ'),
 Seq('GNFSC'),
 Seq('NGWQWR'),
 Seq('CCSCFAAA'),
 Seq('QIEPA'),
 Seq('EQNVW'),
 Seq('RPTTTRPNCH'),
 Seq('EICC'),
 Seq('GF'),
 Seq('EASAKTYCH'),
 Seq('SIQCNTSFRQTWSRTNPRKFWGPGTNQTRN'),
 Seq('LQTLAANCTICPQRFSVLRNVAHWHGSHTFGNVVDLHRCHQIG'),
 Seq('QRSKFQRSSHFAE'),
 Seq('AY'),
 Seq('RIQNIPTNRA'),
 Seq('KGQKEEG'),
 Seq(''),
 Seq('NSSLTAETEETANCDSSSCCRFG'),
 Seq('FLQTIATIHEQC'),
 Seq('LNSGLNSCRPHKADGLYKRFRFSVYDI'),
 Seq('STLVQNEFS'),
 Seq('LHSTSRCS'),
 Seq('L'),
 Seq('SHIAIFNQCVTLGRT'),
 Seq('KSHHIFTEATRSTIECTVNNARESCLYGRALMCKINFSSAIPM'),
 Seq('F'),
 Seq(''),
 Seq('LLRRMTKKKKKKKKKK')]

Read file using pandas

In [ ]:
#import pandas
import pandas as pd

In [ ]:
df=pd.DataFrame({"amino_acids":cov_protein_nostop})

In [ ]:
df.head()

                                  amino_acids
0                    (I, K, G, L, Y, L, P, R)
1     (Q, T, N, Q, L, S, I, S, C, R, S, V, L)
2  (T, N, F, K, I, C, V, A, V, T, R, L, H, A)
3                             (C, T, H, A, V)
4                       (L, I, T, N, Y, C, R)

In [ ]:
df['count']=df['amino_acids'].str.len()

In [ ]:
df.head()

                                  amino_acids  count
0                    (I, K, G, L, Y, L, P, R)      8
1     (Q, T, N, Q, L, S, I, S, C, R, S, V, L)     13
2  (T, N, F, K, I, C, V, A, V, T, R, L, H, A)     14
3                             (C, T, H, A, V)      5
4                       (L, I, T, N, Y, C, R)      7

In [ ]:
# Find largest sequences
df.nlargest(10, "count")

                                           amino_acids  count
548  (C, T, I, V, F, K, R, V, C, G, V, S, A, A, R, ...   2701
694  (A, S, A, Q, R, S, Q, I, T, L, H, I, N, E, L, ...    290
719  (T, N, M, K, I, I, L, F, L, A, L, I, T, L, A, ...    123
695  (A, Q, A, D, E, Y, E, L, M, Y, S, F, V, S, E, ...     83
718  (Q, Q, M, F, H, L, V, D, F, Q, V, T, I, A, E, ...     63
6    (D, G, E, P, C, P, W, F, Q, R, E, N, T, R, P, ...     46
464  (T, M, L, R, C, Y, F, P, K, C, S, E, K, N, N, ...     46
539  (D, V, V, Y, T, H, W, Y, W, S, G, N, N, S, Y, ...     43
758  (L, Q, T, L, A, A, N, C, T, I, C, P, Q, R, F, ...     43
771  (K, S, H, H, I, F, T, E, A, T, R, S, T, I, E, ...     43

Show largest protein sequences from Sars-cov2 genome